body {
  margin: 0px;
}

#hero {
  background-image: url("img/faded-office.png");
  background-size: 100% auto;
  background-repeat: no-repeat;

  font-size: 3vw;
  color: #020202;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0px 60px 50px;
  white-space: nowrap;
}

#hero-title {
  font-weight: 800;
}

.underline {
  border-bottom: 4px solid #0ea5e9;
}

#lets-chat-btn {
  background-color: #0ea5e9;
  color: whitesmoke;
  border: none;
  font-family: inherit;
  font-size: 2vw;
  font-weight: bold;
  padding: 16px 32px;
}
